*.elc
/.mc-lists.el
/ac-comphist.dat
/apache-mode.el
/append-tuareg.el
/camldebug.el
/cmake-mode.el
/css-mode.el
/custom-tuareg.el
/d-mode.el
/desktop-entry-mode.el
/diff-mode.el
/ede-projects.el
elpa/
/idna.el
/inf-haskell.el
/inf-ruby.el
irony/
/xslide.el
/mixal-mode.el
/mixvm.el
/php-mode.el
/po-compat.el
/po-mode.el
