*.elc
/.mc-lists.el
/ac-comphist.dat
/apache-mode.el
/append-tuareg.el
/camldebug.el
/cmake-mode.el
/css-mode.el
/custom-tuareg.el
/d-mode.el
/desktop-entry-mode.el
/diff-mode.el
/ede-projects.el
elpa/
/idna.el
/inf-haskell.el
/inf-ruby.el
irony/
/xslide.el
/mixal-mode.el
/mixvm.el
/php-mode.el
/po-compat.el
/po-mode.el
/projectile-bookmarks.eld
/projectile.cache
/psvn.el
/punycode.el
/pycomplete.el
/python-mode.el
/rep-debugger.el
/ruby-electric.el
/ruby-mode.el
/rubydb2x.el
/rubydb3x.el
/savehist
/saveplace.txt
/scheme.el
semanticdb/*
/sml-mode-color.el
/sml-mode.el
/srecode-map.el
/subdirs.el
/sym-lock.el
/tdtd-font.el
/tdtd.el
/tramp
/tuareg.el
url/*
/xslide-process.el
/xslide-initial.xsl
/xslide-font.el
/xslide-data.el
/xslide-abbrev.el
\#*
session.*
/#!*
auto-save-list/
backups/
/ido.last
/tmp
